
@model IEnumerable<Product>

@section Scripts {

    <script src="~/clientapp/runtime-es2015.js"></script>
    <script src="~/clientapp/runtime-es5.js"></script>

    <script src="~/clientapp/polyfills-es2015.js"></script>
    <script src="~/clientapp/polyfills-es5.js"></script>

    <link href="~/clientapp/styles.css" rel="stylesheet" />

    <script src="~/clientapp/vendor-es2015.js"></script>
    <script src="~/clientapp/vendor-es5.js"></script>

    <script src="~/clientapp/main-es2015.js"></script>
    <script src="~/clientapp/main-es5.js"></script>
}

<h1>Shop</h1>

<the-shop></the-shop>

